body {
    margin: 0;
    padding: 0;
}

.presentation {
    text-align: center;
}

.presentation p {
    color: orange;
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
    padding-top: 0.5em;
}

.linea {
    width: 90%;
    height: 0.1em;
    display: inline-block;
    background-color: white;
    margin-top: 0.5em;
    /* border: 1px blue solid; */
}

.lineImages img {
    width: 1em;
    height: 1em;
    margin: 0;
    padding: 0;
    left: 2em;
}

.lineImages {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.mapResto {
    text-align: center;
    padding-top: 1em;
}

.search h3 {
    color: orange;
    font-family: 'Open Sans', sans-serif;
}

.search {
    text-align: center;
}

input {
    width: 90%;
}

#map {
    width: 100%;
    height: 250px;
}

.filtro {
    margin-bottom: 2em;
}

h1 {
    margin: 0;
    padding: 0;
}

.menu img {
    text-align: center;
    width: 4.5em;
    margin: 1em;
    padding: 0;
}

.container .menu {
    margin: 0;
    padding: 0;
}

.imgResult .menu img:hover {
    cursor: pointer;
    opacity: 0.8;
}

.modal-content {
    width: 80%;
    height: 30%;
    margin-top: 10em;
    margin-left: 2.5em;
}

#modalbody {
    height: 35vh;
    width: 35vh;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    background-color: gray;
}

.bloque_color {
    background-color: #18BC9C;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 251px;
    align-content: center;
    transition: opacity 0.2s;
}

.lupa i {
    align-self: center;
    padding-top: 20%;
    opacity: 1;
    color: white;
    font-size: 3em;
}

.result {
    margin-bottom: 0;
    padding-bottom: 0;
}

.imgResult {
    min-height: 10vh;
    background-color: gray;
}

.modal-desc {
    color: orange;
}

.modal-title {
    color: orange;
    font-weight: bold;
}